<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Create Students</h1>
<p>
    <a href="/list-students">Customer list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-student}" th:object="${student}" method="post">
    <table>
        <tr>
            <td>First name</td>
            <td><input type="text" th:field="*{firstName}"></td>
        </tr>
        <tr>
            <td>Last name</td>
            <td><input type="text" th:field="*{lastName}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create customer"></td>

            <td></td>
        </tr>
    </table>
</form>
</body>
</html>